{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Admin - Artistes{% endblock %}

{% block navBarTitle %}MUSICALIE{% endblock %}
{% block ArtisteAdminActive %}active{% endblock %}

{% block contenu %}

    <section class="row d-flex justify-content-center mt-5 w-100">
        <div class="row d-flex justify-content-center w-75">
            <div class="w-100 d-flex justify-content-center">
                <h2 class="mx-auto">LES ARTISTES</h2>
            </div>
            {% if artistes is empty %}
                <br>
                <div class="container">
                    <h1 class="me-2">IL N'Y A PAS D'ARTISTES DISPONIBLE</h1>
                </div>
            {% else %}
                <table class="table table-striped mt-3">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Style</th>
                        <th scope="col">Instruments</th>
                        <th scope="col">Nombre festivals</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set counter = 1 %}
                    {% for artiste in artistes %}
                        <tr>
                            <th scope="row">{{ counter }}</th>
                            <td>{{ artiste.nomScene }}</td>
                            <td>{{ artiste.style }}</td>
                            <td>{{ artiste.instruments|map(u => u.nom)|join(', ') }}</td>
                            <td>{{ artiste.festivals|length }}</td>
                            <td>
                                <a class="btn" href="{{ path('app_admin_artiste_supprimer', {'id': artiste.id}) }}"
                                   onclick="return confirm('Etes-vous sur de vouloir supprimer cette mémoire ?')"><i
                                            class="fa-solid fa-trash"></i></a>
                                <a class="btn" href="{{ path('app_admin_artiste_modifier', {'id': artiste.id}) }}"><i
                                            class="fa-solid fa-pen-to-square"></i></a>
                            </td>
                        </tr>
                        {% set counter = counter+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <a href="{{ path('app_admin_artiste_ajouter')}}" class="btn btn-primary mt-3 mb-3 w-25">Ajouter un artiste</a>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-5">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}
